<h1>Search for your book to add to collection</h1>
<form class="card-container" action="/search" method="get">
	<fieldset>
<legend> Search by Title,  Author  or  ISBN</legend>
<input type="search" name='book_title' />
<button>Submit</button>
	</fieldset>
</form>