<!DOCTYPE html>
<html>
<head>
  <title>Lend to Friends</title>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="style.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body><div class="container">
		<div class="nav">
			<h1 class="nav-title">Lend to Friends</h1>
			
				<ul class="tabrow">
			    <li><a href="/">Add to Library</a></li>
			    <li><a href="/library">Library</a></li>
			    <li><a href="/checked_out">Checked out</a></li>
			   </ul>	 
		</div>

<%= yield %>
<div class="footer-border">
      <footer><p>Lend to Friends</p></footer>
    </div>
</body>
</html>
